
html {
    font-size:10px;
    background-color: #E5E5E5;
  }

  .container{
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr ;
    grid-template-rows:0.1fr 0.1fr 0.5fr 0.1fr 0.2fr;
    grid-template-areas: "nav nav""whitespace0 whitespace0""main main" "whitespace1 whitespace1""footer footer" ;
}
@media (min-width:0) and (max-width:767px){
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns:1fr ;
        grid-template-rows:0.1fr 1fr 0.1fr;
        grid-template-areas: "nav""main""footer" ;
    }}


a{text-decoration: none;
}
a:link{color: rgb(0, 0, 0);}

a:visited {
    color: rgb(0, 0, 0);
  }


nav{
    background-color: #E5E5E5;
    grid-area: nav;
    font-size: 1.6rem;
    display: flex;
    justify-content:center;
    align-items:center;
    width:90%;
    }

    @media (min-width:0) and (max-width:767px){
        nav{font-size:1rem;
         
    }}

   
#logo{margin-right: auto;
    margin-left:10%;

} 
@media (min-width:0) and (max-width:767px){
    #logo img{width: 70%;   
}}
   

    

#linkedin{ margin-left:auto;
    margin-right:0 auto;
    margin-top: 5px;
}
@media (min-width:0) and (max-width:767px){
    #linkedin{width: 70%;   
}}
   
/* .aboutme{
    display: inline-block;}

.casestudy{
    display: inline-block;
}
.resume{
    display: inline-block;
}
.nav-links{
    float: right;
} */
ul{
    
    color:#000;
    text-decoration:none;
    margin-left:auto;
    margin-right:0;
    display: flex;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content:flex-end;
    position: absolute;
    top:10px;
    right:10%;
}
li {
    color: #000000;
    text-align: center;
    display: flex;
    font-size: 1.6rem;
    margin: 12px 80px 0px 0px;

   
}

@media(min-width:0) and  (max-width:767px){
    li{font-size:1rem;
        margin: 10px 30px 0px 0px;
     
}}

.nav-links a:hover {
    font-size: 1.6rem;
    color: rgb(0, 255, 191);
    font-family:Roboto;
   }

   @media (min-width:0) and  (max-width:767px){
    .nav-links a:hover{font-size:1rem;
       
}}

 a:focus {
    outline: none;
    box-shadow: 0 0 0 7 px rgb(0, 255, 191);
    padding: 12px;
    background-color: rgb(0, 255, 191);
    font-size: 2rem;
    font-weight: bold;
    
        }
        
        @media (min-width:0) and (max-width:767px){
            a:focus{font-size:1.5rem;
                padding: 7px;
               
        }}
        
            
#active {

    font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 191);
    text-underline-offset: 2px;
    text-decoration-thickness: 3px;
    font-weight: bold;
    
}
     
#whitespace0{
    background-color: #E5E5E5;
    grid-area:whitespace0;
}
main{
    grid-area: main;
    display: flex;}

    @media (min-width:0) and (max-width:767px){
        main{
            display: grid;
            height: 70vh;
            grid-template-columns:1fr ;
            grid-template-rows:0.5fr 0.5fr;
            grid-template-areas:"right""left"  ; 
        }}
    
   
.right {
  width: 50%;
  background-color: #E5E5E5(255, 255, 255);
  position: relative;
  
}


@media (min-width:0) and (max-width:767px){
    .right{
        width: 100%;
        height: 100%;
        grid-area:right;
      }} 

.left {
    width: 50%;
    background-color: #E5E5E5(255, 255, 255);
    position: relative;
  }

  @media (min-width:0) and (max-width:767px){
    .left{
        width: 100%;
        height: 100%;
        grid-area:left;
              }} 
        

  
.box1{
    background-color: #E5E5E5(255, 255, 255);
    width: 75%;
    position: absolute;
    top: 40%;
    right: 0%;
}

@media (min-width:0) and (max-width:767px){
    .box1{
        position:absolute;
        left: 10%;
        top: 20%;
        width: 90%;
      }}
 #kensumiyoshi{font-size:4rem;
    font-weight: bold;
    font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height: 0.1em;
margin: 10px 0px;
position: absolute;
top: -7%;

}

@media (min-width:0) and (max-width:767px){
    #kensumiyoshi{font-size:2rem;
        font-weight: bold;
        font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 0.1em;
margin: 5px 0px;
}}

 #dreamjob{
display: inline-block;
align-items: center;
font-size: 2rem;
font-weight: bold;
font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height: 1em; 

 }
 @media (min-width:0) and (max-width:767px){
    #dreamjob{font-size:1rem;
        font-weight: bold;
        font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1em;
margin:0px;
}}

    .was1{
    padding-right: 10px;
   
}

@media (min-width:0) and (max-width:767px){
    .was1 img{width: 10px;
        height: 10px;
      
}}

    .was2{
        word-wrap: break-word;
        width: 100%; 
  font-size: 2rem;
font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (min-width:0) and (max-width:767px){
    .was2{font-size:1rem;
        font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.2em;
margin:0px;

}}

    
#kenken
{position: absolute;
top: 15%;
left: 33%;}

@media (min-width:0) and (max-width:767px){
    #kenken{width: 150px;
        height: 150px;
        position: absolute;
      top:30%;
}}

/* @media (min-witdh:768px) and (max-width:1023px){
    #kenken{position: absolute;
        top: 15%;
        left: 15%;}
}  */


#whitespace1{
    background-color:#E5E5E5;
    grid-area:whitespace1;
}

   


footer{ font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#E5E5E5;
    grid-area:footer;
    text-align: center;
}
.box2{
    margin-top: 120px;
    font-size: 3rem;
    line-height: 0.1em;
   }

   @media (min-width:0) and  (max-width:767px){
    .box2{margin-top: 10px;
        font-size: 2rem;
        line-height: 0.1em;
        position: absolute;
        bottom: 10%;
        left: 32.5%;
      
}}

    .email{
        font-size: 2rem;
    }

    @media (min-width:0) and (max-width:767px){
        .email{
            font-size: 1rem;
            line-height: 0.1em;
          
    }}
   