.container{
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr;
    grid-template-rows:0.1fr 0.6fr 0.8fr 0.4fr 0.4fr;
    grid-template-areas: "nav nav""whitespace0 whitespace0""main B" "whitespace1 whitespace1""footer footer" ;
}
a{text-decoration: none;
}
a:link{color: rgb(0, 0, 0);}

a:visited {
    color: rgb(0, 0, 0);
  }


nav{
    background-color: #ffffff;
    grid-area: nav;
    }

   
.logo{
    float: left;
    text-align: center;
    margin-top: 0px;
    margin-left: 102px;
   
    display: block;
}

.linkedin{ float:right;
    margin-top: 6px;
    margin-right: 102px;
    font-size: 17px;

}
.aboutme{
    display: inline-block;
   
}
.casestudy{
    display: inline-block;
}
.resume{
    display: inline-block;
}
.nav-links{
    float: right;
}
li {
    color: #000000;
    text-align: center;
    display: table;
    font-size: 16px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 12px 80px 0px 0px;

   
}
.nav-links a:hover {
    font-size: 16px;
    color: rgb(0, 255, 191);
    font-family:Roboto;
   }

.nav-links a:focus {
    font-size: 16px;
    outline: none;
    box-shadow: 0 0 0 5px rgb(0, 255, 191);
    
        }

      
            
#active {

    font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 191);
    text-underline-offset: 2px;
    text-decoration-thickness: 3px;
    
}
     
#whitespace0{
    background-color: rgb(255, 255, 255);
    grid-area:whitespace0;
}
main{
    background-color:rgb(255, 255, 255);
    grid-area:main;
   
}
#B{
    background-color:rgb(255, 255, 255);
    grid-area:B;
}

#whitespace1{
    background-color:rgb(255, 255, 255);
    grid-area:whitespace1;
}
footer{
    background-color:rgb(255, 255, 255);
    grid-area:footer;
}


#ken{
    font-size: 40px;
    font-weight: bold;
    font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: auto;
    margin-left: 400px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 0pt;
}
.was{
    display:inline-block;
    font-size: 20px;
        font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 0pt;
        font-weight: bold;
        padding-top: 10px;
}
.uxui{
    margin-right: auto;
    margin-left: 400px;
    padding: 0px;
    line-height: 0pt;
}
#atl{
    padding-left: 5px;
}
#kenken{
    display: block;
    margin-top: 0px;
    margin-left: 150px;
    
    
   
  
    margin-right: auto ;
    
    
    
}



   footer{
       font-size: 30px;
       font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: block;
        text-align: center;
line-height: 4px;
   }
   #email{
    font-size: 20px;
    font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
     
   }
   .contact{margin-top: 110px;}
   .was1{
    width: 560px; 
    height: 200px;
    line-height: 24px;
    font-size: 20px;
        font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    

       }